<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Creating your account on Tutor App</title>
</head>
<body><p>
    Thank you for creating a new account on Tutor-app with the email address:{{user}}.Your password for login is :{{password}}.
    You can change your password later on.
    To continue setting up your account,please confirm your email address is correct by clicking the following link:
    http://192.168.1.73:8000{%url 'activate' uidb64=uid token=token%}</p>
</body>
</html>
